/*.wrapper {
	padding:.5em;
	font-family: Verdana, sans-serif;
}

.wrapper h2 {
	margin: 0;
	font-weight: normal;
	font-size: 130%;
}

.userDetails {
	margin-top: 1em;
}

.userDetails .detail {
	width: 100%;
	padding: .5em;
}

.userDetails .detail .label {
	font-weight: bold;
	margin-bottom: .3em;
}

.userDetails .detail .info {
	font-size: 80%;
}*/